01pybasics/01pycrashcourse/img/** linguist-generated=true
01pybasics/01pycrashcourse/res/** linguist-generated=true
01pybasics/02pyautomate/img/** linguist-generated=true
01pybasics/02pyautomate/res/** linguist-generated=true
09assets/** linguist-generated=true
